.fdm-cyan {color:#6ee2ff !important; background-color:#0b1222 !important}
.fdm-cyan-box {color:#6ee2ff !important; background-color:#183c66 !important}
.fdm-box {color:#d0dfe6 !important; background-color:#0b1222 !important}
.fdm-dark-blue {color:#183c66 !important; background-color:#a6d4fa !important}
.fdm-green {color:#95CC5E !important; background-color:#0b1222 !important}
.fdm-green-box {color:#95CC5E !important; background-color:#183c66 !important}
.fdm-highlight {color:#d0dfe6 !important; background-color:#102742 !important}
.fdm-banner {color:#d0dfe6 !important; background-color:#183c66 !important}

.fdm-border-white {border-color:#d0dfe6 !important}
.fdm-border-yellow {border-color:#fffc42 !important}
.fdm-border-green {border-color:#95CC5E !important}
.fdm-border-cyan {border-color:#6ee2ff !important}
.fdm-border-blue {border-color:#183c66 !important}
.fdm-border-highlight {border-color:#d0dfe6 !important; background-color:#0b1222 !important}

.w3-hover-theme:hover {color:#fffc42 !important; background-color:#2196f3 !important}
.fdm-hover:hover {color:#0b1222 !important; background-color:#6ee2ff !important}
.fdm-hover-border:hover {border-color:#E6DB74 !important}