.w3-ana-blue
{color:#fff;background-color:#09568d} 
.w3-ana-insignia-blue
{color:#fff;background-color:#172035} 
.w3-ana-willow-green
{color:#fff;background-color:#457725} 
.w3-ana-oxygen-tank-green
{color:#fff;background-color:#457725} 
.w3-ana-olive-drab
{color:#fff;background-color:#686b69} 
.w3-ana-lemon-yellow
{color:#fff;background-color:#ffbb00} 
.w3-ana-orange-yellow
{color:#fff;background-color:#f8a300} 
.w3-ana-aircraft-cream
{color:#000;background-color:#f0c282} 
.w3-ana-international-orange
{color:#fff;background-color:#ce3500} 
.w3-ana-aircraft-orange
{color:#fff;background-color:#ce3500} 
.w3-ana-insignia-red
{color:#fff;background-color:#901E1D} 
.w3-ana-maroon
{color:#fff;background-color:#421814} 
.w3-ana-insignia-white
{color:#000;background-color:#f0e9ee} 
.w3-ana-aircraft-grey
{color:#000;background-color:#a2a7ad} 
.w3-ana-engine-gray
{color:#fff;background-color:#47484a} 
.w3-ana-instrument-black
{color:#fff;background-color:#1c1d22} 
.w3-ana-black
{color:#fff;background-color:#0b0b0d} 
.w3-ana-strata-blue
{color:#fff;background-color:#122b3e} 
.w3-ana-aircraft-blue
{color:#fff;background-color:#122b3e} 
.w3-ana-international-white
{color:#000;background-color:#f1eaee} 
.w3-ana-aircraft-white
{color:#000;background-color:#f1eaee} 
.w3-ana-light-gray
{color:#fff;background-color:#b0aaad} 
.w3-ana-sea-gray
{color:#fff;background-color:#5b5e6a} 
.w3-ana-gunship-gray
{color:#fff;background-color:#5b5e6a} 
.w3-ana-international-black
{color:#fff;background-color:#343236} 
.w3-ana-navy-black
{color:#fff;background-color:#343236} 
.w3-ana-aircraft-insignia-blue
{color:#fff;background-color:#343236} 
.w3-ana-aircraft-sea-blue
{color:#fff;background-color:#262f39} 
.w3-ana-sea-blue
{color:#fff;background-color:#373a42} 
.w3-ana-navy-blue
{color:#fff;background-color:#646e83} 
.w3-ana-azure-blue
{color:#fff;background-color:#7284b7} 
.w3-ana-610
{color:#fff;background-color:#acac9a} 
.w3-ana-interior-green
{color:#fff;background-color:#65623c} 
.w3-ana-gunship-green
{color:#fff;background-color:#46554f} 
.w3-ana-internation-yellow
{color:#fff;background-color:#ffaa07} 
.w3-ana-tan
{color:#fff;background-color:#a98652} 
.w3-ana-desert-sand
{color:#fff;background-color:#b19083} 
.w3-ana-field-drab
{color:#fff;background-color:#705a43} 
.w3-ana-dull-red
{color:#fff;background-color:#874840} 
.w3-ana-international-red
{color:#fff;background-color:#a0333a} 
.w3-ana-aircraft-red
{color:#fff;background-color:#a0333a} 
.w3-ana-international-gray
{color:#fff;background-color:#7e7e87} 
.w3-ana-aircraft-black
{color:#fff;background-color:#383839} 
.w3-ana-teal-blue
{color:#fff;background-color:#002d30} 
.w3-ana-sea-plane-gray
{color:#fff;background-color:#4b4c50} 
.w3-ana-626
{color:#fff;background-color:#4b4c50} 
.w3-ana-field-green
{color:#fff;background-color:#575c45} 
.w3-ana-sierra-tan
{color:#fff;background-color:#987563}